{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <style>

        .center {
            vertical-align: center !important;
        }
    </style>
{% endblock %}
{% block content %}

    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th style="text-align: center">Poster</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Ano Lançamento</th>
                        <th>Data primeiro episódio</th>
                        <th>Popularidade</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for serie in series %}
                        <tr>
                            <td style="display: flex;
                                        flex-direction: column;
                                        align-items: center">
                                <img style="max-width: 100%"
                                     src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2//{{ serie.img }}" alt="..." class="img-thumbnail">
                            </td>
                            <td><label>{{ serie.title }}</label></td>
                            <td><label>{{ serie.overview }}</label></td>
                            <td><label>{{ serie.year }}</label></td>
                            <td><label>{{ serie.first_air_date }}</label></td>
                            <td><label>{{ serie.popularity }}</label></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link"
                               {% if page != 1 %}
                                   href="?&page={{ page|add:-1 }}"
                               {% endif %}
                               tabindex="-1">Previous</a>
                        </li>
                        {% for page_i in list_page %}
                            <li class="page-item  {% if page == page_i %} active{% endif %}"><a class="page-link" href="?&page={{ page_i }}">{{ page_i }}</a></li>
                        {% endfor %}
                        <li class="page-item">
                            <a class="page-link"
                             {% if page != 10 %}
                                 href="?&page={{ page|add:1 }}"
                               {% endif %}
                            >Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>



{% endblock %}